/*new*/
.left-col {
    width: 58.333% !important;
}
/*new*/
/*element.style {
    max-width: 120px !important;
}*/
/*new*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; /*Arial;*/
    font-size: 14px;
    line-height: 1.8em !important;
    /*font: 12px Arial !important;*/
    color: #333333;
}

.HalogenContentHeader {
    border-bottom: 1px #a70e13 solid;
}
/*new*/
.container {
    /*width: 1170px !important;*/
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*.container, .htmlBlock {
    max-width: 1120px;
}*/

ol, ul {
    list-style: disc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 40px;
}

h1, h2, h3 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: bold;
    line-height: normal!important;
}
h1, h3 {
    margin-top: 0;
    margin-bottom: 0px;
    /*font-size: 22px !important;*/
    text-transform: none !important;
}
h1 {
    font-size:26px;
}
/*new*/
h2 {
    font-size: 22px;
}

.htmlBlock {
    padding: 40px 15px !important;
    /*width: 1120px;*/
    /*margin: -56px auto 10px auto !important;*/
    /*max-width: 1120px;*/
}

.requestMoreInfoHL {
    left: 0;
    position: relative;
}


.spacer {
    height: 33px;
}

.footer-spacer {
    padding: 30px;
    color: #fff;
}



.modal-dialog {
    max-width: 970px !important;
}

.well {
    background: #fff;
}


.form-container {
    border: solid 3px #a4a4a4;
    padding: 13px 15px;
    background: #fff;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}


.disclaimer {
    margin: 0;
    font-size: 10px;
    line-height: 21px;
}

/*form styles*/

.step {
    display: none;
}

.progress {
    background-image: -webkit-linear-gradient(top,#bbbbbb 0,#bbbbbb 100%);
    background-image: linear-gradient(to bottom,#bbbbbb 0,#bbbbbb 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb',endColorstr='#bbbbbb',GradientType=0);
    height: 13px;
    margin-bottom: 0px;
}

.progress-bar {
    background-image: -webkit-linear-gradient(top,#A8A8A8 0,#888888 60%);
    background-image: linear-gradient(to bottom,#A8A8A8 0,#888888 60%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}

.subtitle {
    font-size: 14px;
}

.page-title, .subtitle {
    line-height: 1.4;
    margin-bottom: 25px;
    padding-bottom: 0px;
    border-bottom: 0px solid #cbcbcb;
}

label {
    /*new*/
    color: #a70e13; /*000*/
    font-weight: bold;
}

    label.alt {
        color: #003366;
        font-weight: bold;
        font-size: 13px;
    }

.error {
    color: red;
}


/*Hide elements*/
.militaryStatus, .militaryInstallationOrBase, .education, .isMilitary, .addressPane, .txtRegion, .txtPostalCode, .milBaseNotListed, .hsNotListedWrap, .militaryRb {
    display: none;
}

/*Bootstrap Overrides*/
.form-group {
    margin-bottom: 9px;
}

/*.container .row {
    margin-right: -15px;
    margin-left: -15px;
}*/

/*.row .row {
    margin-left: -7px !important;
    margin-right: -7px !important;
}*/

.navigation_button {
    display: inline-block;
    padding: 1px 10px;
    background-color: #0970d0;
    border: 1px solid #ddd;
    border-radius: 1px;
    color: #fff;
    font: bold 14px Arial;
    text-transform: uppercase;
    border-top: solid 1px #61c8f0;
    border-right: solid 1px #0248ba;
    border-bottom: solid 1px #0030a8;
    border-left: solid 1px #2098e0;
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    float: right;
}



    .navigation_button.ui-state-disabled {
        display: inline-block;
        padding: 1px 10px;
        background: #053d70;
        border: 1px solid #ddd;
        border-radius: 1px;
        color: #fff;
        font: bold 14px Arial;
        text-transform: uppercase;
        border-top: solid 1px #61c8f0;
        border-right: solid 1px #0248ba;
        border-bottom: solid 1px #0030a8;
        border-left: solid 1px #2098e0;
        box-shadow: 0 1px 3px #999;
        text-shadow: 0 -1px 1px #222;
        opacity: .5;
    }

    .navigation_button:hover {
        background: #053d70;
    }

#back {
    /*padding-bottom: 15px;*/
    display: block;
    cursor: pointer;
    text-decoration: underline;
    border: 0px;
    background: transparent;
    color: #196bb8;
    font-size: 11px;
    font-family: Arial;
}

    #back:disabled {
        -ms-opacity: 0;
        opacity: 0;
    }

a.privacy-policy {
    font-size: 11px;
    cursor: pointer;
}

.privacy-policy-text {
    font-size: 11px;
}

/*Utilities*/

.padding-left-0 {
    padding-left: 0;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.margin0 {
    margin: 0;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-neg20 {
    margin-left: 20px;
}

.margin-neg-20 {
    margin: -20px;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-right-0 {
    margin-right: 0;
}



.data {
    background: white;
}

.white-text {
    color: #ffffff;
}

.uti-blue {
    background: #196bb8;
}
/*Bootstrap*/

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: lightgrey !important;
}

/*.form-control {
    height: 22px;
    padding: 0;
    border-radius: 0;
    font-size: 13px;
    font-family: Arial;
}*/
/* phone override*/
#phone .form-control, #phoneAlt .form-control {
    width: auto !important;
}

input, select {
    margin-bottom: 0;
}

label {
    margin-bottom: 0px;
}

.p1 {
    padding-right: 0;
}

.p2, .p3 {
    padding-right: 0;
    padding-left: 10px;
}

input, select {
    margin-bottom: 0;
}

label {
    margin-bottom: 0px;
}

.p1 {
    padding-right: 0;
}

.p2, .p3 {
    padding-right: 0;
    padding-left: 15px;
}



/*MEDIA QUERIES*/
@media only screen and (max-width : 770px) {


    #phone1, #phone2, #phone3, #phoneAlt1, #phoneAlt2, #phoneAlt3 {
        width: 100%;
        margin-bottom: 10px;
    }

    #phone .form-control, #phoneAlt .form-control {
        width: 100% !important;
    }
}

@media screen and (max-width : 991px) {

    .form-control {
        height: 55px;
        border: 1px solid #ccc;
        -ms-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        padding: 6px 12px;
    }

    input#next {
        width: 100%;
        height: 55px;
        font-size: 1.5em;
    }

    .progress {
        height: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
    .modal-dialog {
        width: 80%;
        margin: 30px auto;
    }
}



@media screen and (max-width : 768px) {

    .img-responsive {
        display: block;
    }

    #phone1, #phone2, #phone3, #phoneAlt1, #phoneAlt2, #phoneAlt3 {
        width: 28%;
        margin-bottom: 10px;
    }

    #phone .form-control, #phoneAlt .form-control {
        width: 100%;
    }



    label {
        font-size: 18px;
    }

        label.alt {
            font-size: 15px;
        }

    h1 {
        font-size: 25px;
    }

    .progressbar-subtitle {
        font-size: 1.2em;
    }
}

/*new*/
/*@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}*/

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    /*.container, .htmlBlock {
        max-width: 1120px;
    }*/

    .container {
        width: 1170px;
    }
}

/*@media screen and (min-width: 1500px) {
    .container, .htmlBlock {
        max-width: 1465px;
    }
}

@media screen and (min-width: 1700px) {
    .container, .htmlBlock {
        max-width: 1600px;
    }
}*/

/*new*/
.phoneForm {
    color: #444;
    font-weight: 700;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}
/*new*/
.hdrRight ul {
  padding: 12px 0!important;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/*new*/
.video-container{
  position: relative;
  /*padding-bottom: 48.85%;*/
  /*padding-top: 30px;*/
  /*height: 0;*/
  overflow: hidden;
box-sizing: border-box;
}




 .youtube-container { display: block; margin: 20px auto; width: 100%; max-width: 600px; }
    .youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
    img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
    div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
    #youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.no-padding{ padding: 0;}